[tool.ruff]
select = ["ALL"]
ignore = [
    "ANN101", # missing-type-self
    "ANN102", # missing-type-cls
    "TD002",  # missing-todo-author
    "TD003",  # missing-todo-link
]
extend-include = ["*.ipynb"]

[tool.ruff.per-file-ignores]
"convoviz/cli.py" = ["T201"]   # print
"*.ipynb" = ["T201"]           # print
"tests/*" = ["S101", "SLF001"] # assert , private-member-access


[tool.mypy]
strict = true
enable_incomplete_feature = ["Unpack"]


[tool.poetry]
name = "convoviz"
version = "0.1.6"
description = "Get analytics and visualizations on your ChatGPT data !"
authors = ["Mohamed Cheikh Sidiya <mohamedcheikhsidiya77@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/mohamed-chs/chatgpt-history-export-to-md"
keywords = [
    "markdown",
    "advanced-data-analysis",
    "json",
    "zip",
    "openai",
    "chatgpt",
    "bookmarklet",
    "obsidian-md",
    "code-interpreter",
]

[tool.poetry.dependencies]
python = "^3.9"
questionary = "^2.0.1"
tqdm = "^4.66.1"
matplotlib = "^3.8.1"
nltk = "^3.8.1"
wordcloud = "^1.9.2"
pydantic = "^2.4.2"
orjson = "^3.9.10"

[tool.poetry.group.dev.dependencies]
ruff = "^0.1.4"
pytest = "^7.4.3"
mypy = "^1.6.1"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
