[project]
name = "convoviz"
version = "0.2.0"
description = "Get analytics and visualizations on your ChatGPT data!"
readme = "README.md"
requires-python = ">=3.9"
authors = [
    { name = "Mohamed Cheikh Sidiya", email = "mohamedcheikhsidiya77@gmail.com" }
]
dependencies = [
    "matplotlib>=3.9.4",
    "nltk>=3.9.2",
    "orjson>=3.11.5",
    "pillow>=11.3.0",
    "pydantic>=2.12.5",
    "questionary>=2.1.1",
    "rich>=14.2.0",
    "tqdm>=4.67.1",
    "typer>=0.21.0",
    "wordcloud>=1.9.5",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["convoviz"]

[project.scripts]
convoviz = "convoviz.cli:main_entry"

[dependency-groups]
dev = [
    "mypy>=1.19.1",
    "pytest>=8.4.2",
    "ruff>=0.14.10",
    "types-tqdm>=4.67.0.20250809",
]
